package com.company;
import java.util.Timer;
import java.util.TimerTask;


public class Main {
    Timer timer;
    int i;
    int j;


    public Main (int seconds){
        timer = new Timer ();
        timer.schedule (new NewTimerTask(), seconds*1000);
    }

    class NewTimerTask extends TimerTask {
        public void run() {
                for (i = 0; i < 1; i++) {
                    System.out.println("Raquel Grobe");
                    new Main(1);
                   for (j=i; j > 10; j++){
                       timer.cancel();
                }
                break;
            }
        }
    }

    public static void main ( String args [  ]  ) {
        System.out.println();
    }


}//end of timer class
