package com.company;
import java.util.Timer;
import java.util.TimerTask;


public class Main {
    Timer timer;
    int i=10;
    int j;


    public Main (int seconds){
        timer = new Timer ();
        timer.schedule (new NewTimerTask(), seconds*1000);
    }

    class NewTimerTask extends TimerTask {
        public void run() {
                if (i > 10) {
                    System.out.println("Raquel Grobe");
                    new Main(1);
                   } else {
                       System.exit(0);
                }
            }
        }
    }

    public static void main ( String args [  ]  ) {
        System.out.println();
    }


}//end of timer class
