package com.company;
import java.util.Timer;
import java.util.TimerTask;

public class Main {
    Toolkit toolkit;
    Timer timer;

    public myTimer() {
        toolkit = Toolkit.getDefaultToolkit();
        timer = new Timer();
        timer.schedule(new RemindTask(),
                       0,        //initial delay
                       1*1000);  //subsequent rate
    }

    class RemindTask extends TimerTask {
        int firstnames = 9;
        public void run() {
            if (firstnames > 0) {
                toolkit.beep();
                System.out.println("Raquel Grobe");
                firstnames--;
            } else {
                toolkit.beep(); 
                System.out.println("Raquel Grobe");
                //timer.cancel(); // Not necessary because
                                  // we call System.exit
                System.exit(0);   // Stops the AWT thread 
                                  // (and everything else)
            }
        }
    }
    ...
}
